[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=vector_interpolation
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Vector Interpolation
Comment=Generate interpolation between two vector shapes.
